:root {
    --header-bg: #fff;
    --menu-link: #ae1332;
    // --footer-bg: #021635;
    // --text-color: #fff;
    // --order-color: #959595;
    // --confirm-color: #D8D8D8;

    // --hero-button-color: #8E32C6;

}



body {
 font-family: "DM Sans", sans-serif;
}

.link:hover,
.link:focus {
    color: #e28d9ec8;
}